<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-phone"></i> +221 77 594 66 96
            <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Lun-Ven: 06:00 AM - 18:00 PM</span>
        </div>
        <div class="languages">
            <ul>
                <li>En</li>
                <li><a href="#">Fr</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="index.html">Crock Sandwich</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html" routerLink="/">Accueil</a></li>
                <li><a href="#about" routerLink="/apropos">A propos</a></li>
                <li><a href="#menu" routerLink="/menu">Menu</a></li>
                <!-- <li><a href="#specials">Specials</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#chefs">Chefs</a></li>
                <li><a href="#contact">Contact</a></li> -->
                <li class="book-a-table text-center"><a href="#book-a-table" routerLink="/creer">Créer</a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->

    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<main id="main">
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Bienvenue a <span>CrockSandwich</span></h1>
                    <!-- <h2>Delivering great food for more than 18 years!</h2> -->

                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto" routerLink="/menu">Menu</a>
                        <a href="#book-a-table" class="btn-book animated fadeInUp scrollto" routerLink="/creer">Créer</a>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                    <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                </div>

            </div>
        </div>
    </section>
    <!-- End Hero -->
    <router-outlet></router-outlet>
</main>
