<!-- <form action="" class="mt-5" [formGroup]="produitFormGroupe">

    <div class="form-group">
        <label for="usr">Mettez le nom:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="comment">Mettez la description:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto btn btn-outline-info" routerLink="/save">Eregistrer</a>
</form> -->